body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4C3D74;
    color: white;
}

    h1 {
    
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    }
    
    .menu {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: white;
    }

    ul li {
        list-style-type: none;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: calc((100% / 2) - 20px);
    }

    .menu {
        text-align: center;
    }

    article {
        width: 750px;
        height: 691px;
    }

    article p {
        font-weight: bold;
    }

    /* кнопка */
    button {
        display: inline-block;
        box-sizing: border-box;
	padding: 1px;
	margin: 0 15px 15px 0;
	outline: none;
	width: 200px;
    height: 50px;
	border-radius: 20px;
	height: 46px;
	line-height: 0;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color:white;
	background-color:#251933;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
    }

    #btnlong {
        width: 420px;
        height: 50px;
    }
    .img {
        width: 200px;
        height: 200px;
        float: right;
    }

    .textsize {
        font-size: 20px;
        margin-top: 50px;
    }

    #large_text {
        width: 660px;
        height: 132px;
        font-size: 50px;
    }

    .transfer {
        width: 660px;
        height: 120px;
        font-weight: normal;
    }

    .div_big {
        width: 730px;
        height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    
    .font_p {
    margin: 0px;
    font-size: 50px;
    }
    
    .addition {
        font-size: 16px;
    }

    aside {
        top: 20px;
        
    }

    .aside_right {
        padding: 60px;
        float: left; 
        display: inline-block;
        flex-direction: column;
        justify-content: flex-end;
        
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 1440px;
        height: 351;
        background-color: #251933;
    }

    a {
        color: white;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        }

    main {
        display: flex;
        justify-content: flex-start;
    }
    
